@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<style>
    .buttonclass {
        display: inline-block;
        background-color: lightslategray;
        border-radius: 10px;
        border: 4px double #cccccc;
        color: black;
        text-align: center;
        font-size: 15px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        width: 200px
    }

    .float-container {
        width: 350px;
    }

    .float-child1 {
        width: 60%;
        float: left;
    }

    .float-child2 {
        width: 20%;
        float: left;
    }

    .float-child3 {
        width: 20%;
        float: left;
    }

</style>

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="float-container">
                    <div class="float-child3">
                        <label asp-for="Input.Password"></label>
                    </div>
                    <div class="float-child1">
                        <input id="unesenaSifra" asp-for="Input.Password" class="form-control"/>
                    </div>
                    <div class="float-child2">
                        <i class="far fa-eye" id="togglePassword" style="margin-left: -30px; margin-top:10px; cursor: pointer;"></i>
                    </div>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <button class="buttonclass" type="submit">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Zaboravili ste password?</a>
                    </p>
                    <p>
                        <a  asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registracija</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    
</div>

<script>
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#unesenaSifra');

    togglePassword.addEventListener('click', function (e) {
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        this.classList.toggle('fa-eye-slash');
    });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
