<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Početna - EParking</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-image: url('https://wallpapercave.com/wp/wp3589891.jpg'); background-position: center; background-attachment: fixed; background-repeat: no-repeat ">
    <header>
        <nav style="background-image: url('https://www.wallpaperflare.com/static/150/1017/118/gray-road-dark-cloudy-wallpaper.jpg');
        
        background-position: top;
        
    "class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div  class="container">
                <a style="margin-left:-30px; margin-right:30px; font-size:26px; margin-bottom:5px; color:black; text-shadow:1px 2px 2px lightgray; text-decoration:none;" asp-area="" asp-controller="Pocetna" asp-action="Index"><b>Početna</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                    @if (User.Identity.IsAuthenticated)
                       {
                            <li class="nav-item">
                                <a style="font-family:Brush Script MT; color:darkgreen; font-size:21px; margin-top:15px; margin-left:15px; text-decoration:none;" asp-area="" asp-controller="Rezervacijas" asp-action="KategorijaVozila"><b>Rezervacija</b></a>
                            </li>
                            <li class="nav-item">
                                <a style="font-family:Brush Script MT; color:darkgreen; font-size:21px; margin-top:15px; margin-left:25px; text-decoration:none;" asp-area="" asp-controller="ParkingManagement" asp-action="OdaberiParking"><b>Upravljanje parkingom</b></a>
                            </li>


                            @if (User.IsInRole("Administrator"))
                            {
                                <li class="nav-item">
                                    <a style="font-family:Brush Script MT; color:darkgreen; font-size:21px; margin-top:15px; margin-left:25px; text-decoration:none;" asp-area="" asp-controller="Administracija" asp-action="Index"><b>Administracija</b></a>
                                </li>
                            }
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
