@model EParking.Controllers.Poruka
@{
    ViewData["Title"] = "PromjenaLozinke";
     
}
<style>
    button {
        display: inline-block;
        background-color: mediumaquamarine;
        border-radius: 10px;
        border: 4px double #cccccc;
        color: black;
        text-align: center;
        font-size: 12px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
    }
</style>

<script type="text/javascript">
    
</script>

<div>
    <p>
        Unesite email za promjenu lozinke:
    </p>
    <form action="action_page.php">
        Email: <input asp-for="@Model.Email" type="text"><br>
        
    </form>

    <button style="margin-top:50px; width:200px; font-size:15px">
        <a asp-action="PrikaziPoruku"><b>Posalji mail</b></a>
    </button>

</div>