@model EParking.Controllers.Poruka
@{
    ViewData["Title"] = "PrikaziPoruku";
}
<div>
    <p>
        Email za potvrdu promjene lozinke je poslan na @Html.ValueFor(model =>model.Email)!
    </p>
</div>
