@model EParking.Models.AutomobilMjesto

@{
    ViewData["Title"] = "DodajMjesto";
    var parking = ViewBag.parking;
    var kategorije = ViewBag.kategorije;
    var poruka = ViewBag.poruka;
}

<style>
    .buttonclass {
        display: inline-block;
        background-color: lightslategray;
        border-radius: 10px;
        border: 4px double #cccccc;
        color: black;
        text-align: center;
        font-size: 12px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
    }
</style>

<h1>Unesite novo mjesto</h1>
<p style="font-size:15px ; color:red"><b>@poruka</b></p>
<h4>Mjesto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DodajMjesto" asp-route-id=@parking>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Sprat" class="control-label"></label>
                <input asp-for="Sprat" class="form-control" />
                <span asp-validation-for="Sprat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Red" class="control-label"></label>
                <input asp-for="Red" class="form-control" />
                <span asp-validation-for="Red" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kolona" class="control-label"></label>
                <input asp-for="Kolona" class="form-control" />
                <span asp-validation-for="Kolona" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Zauzeto" /> @Html.DisplayNameFor(model => model.Zauzeto)
                </label>
            </div>
            <input asp-for="ParkingId" value=@parking type="hidden" />
            <div>
                <label class="control-label">Kategorija vozila:</label>
                <select asp-for="Discriminator" id="selectorKategorije" asp-items=@kategorije>
                    <option>Odaberite vozilo</option>
                </select>
            </div>
            <div style="margin-top:20px" class="form-group">
                <input type="submit" value="Dodaj" class="buttonclass" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

