@model EParking.Models.Mjesto

@{
    ViewData["Title"] = "DodajMjesto";
}

<h1>Unesite novo mjesto</h1>

<h4>Mjesto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DodajMjesto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Sprat" class="control-label"></label>
                <input asp-for="Sprat" class="form-control" />
                <span asp-validation-for="Sprat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Red" class="control-label"></label>
                <input asp-for="Red" class="form-control" />
                <span asp-validation-for="Red" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kolona" class="control-label"></label>
                <input asp-for="Kolona" class="form-control" />
                <span asp-validation-for="Kolona" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Zauzeto" /> @Html.DisplayNameFor(model => model.Zauzeto)
                </label>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

