
@{
    ViewData["Title"] = "Administracija";
}


<style>
    button {
        display: inline-block;
        background-color: mediumaquamarine;
        border-radius: 10px;
        border: 4px double #cccccc;
        color: black;
        text-align: center;
        font-size: 12px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
    }

    .vrijeme {
        display: inline-block;
    }

    .vrijemeLabela {
        display: block;
    }

    .topcorner {
        position: absolute;
        display: inline-block;
    }

    .header {
        position: relative;
    }

    .showPopUp {
        background-color: #e6fff2;
        filter: alpha(opacity=100);
        opacity: 1;
        width: 100%;
        height: 100%;
        z-index: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto
    }

    .hidepopup {
        display: none;
    }

    .divShow {
        display: block;
    }

    .button-corner {
        display: inline-block;
        background-color: mediumaquamarine;
        border-radius: 10px;
        border: 4px double #cccccc;
        color: black;
        text-align: center;
        font-size: 12px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
    #wrapper {
        width: 1000px;
        overflow: hidden;
        margin-top: 70px
    }

    #first {
        width: 300px;
        float: left;
        
    }

    #second {
        border: 1px solid black;
        overflow: hidden;
        margin-left: 450px;
        background-color: mediumaquamarine;
        padding: 15px
    }


</style>




<div class="header">
    <h1>@ViewData["Title"]</h1>
    <div class="topcorner">
        <u><i style="font-size:18px; color:mediumaquamarine; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Promjena admin lozinke</i></u>
    </div>
    <div style="margin-top:50px">
        <a asp-action="DodajMjesto"><i style="font-size:18px; color:mediumaquamarine; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Dodaj novo mjesto</i></a>
    </div>
</div>



<div id="errorDiv" style="width:250px;height:200px;border-color:blue;border-style:solid" align="center" class="hidepopup">
    <p><b>Greška</b></p>
    <hr />
    <p>Niste ispravno unijeli korsnika!</p>
    <button class="button-corner" onclick="javascript: Zatvori();"> <b>Zatvori</b></button>
</div>

<div id="wrapper">


    <div id="first">
        <p style="font-size:20px"><b>Omogućeni popusti: </b></p>
        <div>
            <input type="checkbox" id="StalniGostMjesecno" name="StalniGostMjesecno" value="StalniGostMjesecno">
            <label for="StalniGostMjesecno">Stalni gost mjesečno</label>
        </div>

        <div>
            <input type="checkbox" id="StalniGostUzastopno" name="StalniGostUzastopno" value="StalniGostUzastopno">
            <label for="StalniGostUzastopno">Stalni gost uzastopno</label>
        </div>
        <div>
            <input type="checkbox" id="OsobaSInvaliditetom" name="OsobaSInvaliditetom" value="OsobaSInvaliditetom">
            <label for="OsobaSInvaliditetom">Osoba s invaliditetom</label>
        </div>

        <div>
            <input type="checkbox" id="PopustIgrica" name="PopustIgrica" value="PopustIgrica">
            <label for="PopustIgrica">Igrica za popust</label>
        </div>
    </div>



    <div id="second">
        <p style="font-size:20px"><b>Radno vrijeme: </b></p>
        <div class="vrijeme">
            <label class="vrijemeLabela">Početak radnog vremena: </label>
            <div class="vrijeme">

                <input id="pocetakSati" style="text-align:center" type="number" min="0" max="23" step="1" value="0" size="3" name="cantitate" onkeydown="return false" />
            </div>
            <div class="vrijeme"><b>:</b></div>
            <div class="vrijeme">
                <input id="pocetakMinute" style="text-align:center" type="number" min="0" max="59" step="1" value="0" size="3" name="cantitate" onkeydown="return false">
            </div>
        </div>
        <div style="margin-left:30px" class="vrijeme">
            <label class="vrijemeLabela">Kraj radnog vremena: </label>
            <div class="vrijeme">

                <input id="krajSati" style="text-align:center" type="number" min="0" max="23" step="1" value="0" size="3" name="cantitate" onkeydown="return false">
            </div>
            <div class="vrijeme"><b>:</b></div>
            <div class="vrijeme">
                <input id="krajMinute" style="text-align:center" type="number" min="0" max="59" step="1" value="0" size="3" name="cantitate" onkeydown="return false">
            </div>
        </div>
    </div>
</div>
<hr />

<p style="font-size:20px"><b>Popust zavisno od doba dana: </b></p>
<div>
    <select id="selectorPopusta" name="selector">
        <option value="1">Da</option>
        <option value="0" selected="selected">Ne</option>
    </select>
</div>

<div id="discountDiv" class="hidepopup" style="margin-top:20px">
    <div class="vrijeme">
        <label class="vrijemeLabela">Početak vremena popusta: </label>
        <div class="vrijeme">

            <input id="pocetakSatiPopusta" style="text-align:center" type="number" min="0" max="23" step="1" value="0" size="3" name="cantitate" onkeydown="return false">
        </div>
        <div class="vrijeme"><b>:</b></div>
        <div class="vrijeme">
            <input id="pocetakMinutePopusta" style="text-align:center" type="number" min="0" max="59" step="1" value="0" size="3" name="cantitate" onkeydown="return false">
        </div>
    </div>
    <div style="margin-left:30px" class="vrijeme">
        <label class="vrijemeLabela">Kraj vremena popusta: </label>
        <div class="vrijeme">

            <input id="krajSatiPopusta" style="text-align:center" type="number" min="0" max="23" step="1" value="0" size="3" name="cantitate" onkeydown="return false">
        </div>
        <div class="vrijeme"><b>:</b></div>
        <div class="vrijeme">
            <input id="krajMinutePopusta" style="text-align:center" type="number" min="0" max="59" step="1" value="0" size="3" name="cantitate" onkeydown="return false">
        </div>
    </div>
</div>

<hr />

<p style="font-size:20px"><b>Brisanje korisničkog računa: </b></p>
<div>
    <select id="selectorKorisnika" name="selector">
        <option value="1">Da</option>
        <option value="0" selected="selected">Ne</option>
    </select>
</div>

<div id="korisnikDiv" class="hidepopup" style="margin-top:20px">
    <div class="vrijeme">
        <div class="vrijeme">
            <i>Ime korisnika: </i><input id="korisnikIme" style="text-align:center" type="text">
        </div>
        <div style="margin-left:30px" class="vrijeme">
            <i>Prezime korisnika: </i><input id="korisnikPrezime" style="text-align:center" type="text">
        </div>
        
    </div>
</div>



<div style="bottom:-70px; position:relative">
    <button onclick="javascript: Provjeri();">
        <b style="font-size: 16px">Spasi promjene</b>
    </button>
</div>



<script type="text/javascript">

    function Zatvori() {
        document.getElementById("errorDiv").className = "hidepopup"
    }
    function Provjeri() {
        var korisnikIme = document.getElementById("korisnikIme").value
        var korisnikPrezime = document.getElementById("korisnikPrezime").value
        var spremno = true;
        if (!(korisnikIme.charAt(0) >= "A" && korisnikIme.charAt(0) <= "Z") || !(korisnikPrezime.charAt(0) >= "A" && korisnikPrezime.charAt(0) <= "Z")) {
            document.getElementById("errorDiv").className = "showPopUp"
            spremno = false;
        }
        for (i = 0; i < korisnikIme.length; i++) {
            if (!(korisnikIme[i] >= "a" && korisnikIme[i] <= "z") && !(korisnikIme[i] >= "A" && korisnikIme[i] <= "Z")) {
                document.getElementById("errorDiv").className = "showPopUp"
                spremno = false;
            }
        }
        for (i = 0; i < korisnikPrezime.length; i++) {
            if (!(korisnikPrezime[i] >= "a" && korisnikPrezime[i] <= "z") && !(korisnikPrezime[i] >= "A" && korisnikPrezime[i] <= "Z")) {
                document.getElementById("errorDiv").className = "showPopUp"
                spremno = false;
            }
        }
        if (spremno) {

        }
    }

    document.querySelector('#selectorPopusta').addEventListener("change", function () {
        if (this.value == "1") {
            document.getElementById("discountDiv").className = "divShow"
        } else {


            document.getElementById("discountDiv").className = "hidepopup"
        }
    });
    document.querySelector('#selectorKorisnika').addEventListener("change", function () {
        if (this.value == "1") {
            document.getElementById("korisnikDiv").className = "divShow"
        } else {


            document.getElementById("korisnikDiv").className = "hidepopup"
        }
    });

</script>